*
!infrastructure/Dockerfile
!package.json
!pnpm-lock.yaml
!pnpm-workspace.yaml
!.npmrc
!tsconfig.base.json
!packages/runtime/
!packages/sdk/
packages/runtime/node_modules
packages/runtime/dist
packages/sdk/node_modules
