*
!infrastructure/Dockerfile
!package.json
!pnpm-lock.yaml
!pnpm-workspace.yaml
!.npmrc
!tsconfig.base.json
!packages/core/
!packages/runtime/
!packages/sandbox/
!packages/sandbox-stdlib/
!packages/sdk/
!patches/
packages/core/node_modules
packages/core/dist
packages/runtime/node_modules
packages/runtime/dist
packages/sandbox/node_modules
packages/sandbox/dist
packages/sandbox-stdlib/node_modules
packages/sandbox-stdlib/dist
packages/sandbox-stdlib/test
