*
!infrastructure/Dockerfile
!package.json
!pnpm-lock.yaml
!pnpm-workspace.yaml
!.npmrc
!tsconfig.base.json
!packages/core/
!packages/runtime/
!packages/sandbox/
!packages/sdk/
packages/core/node_modules
packages/core/dist
packages/runtime/node_modules
packages/runtime/dist
packages/sandbox/node_modules
packages/sandbox/dist
packages/sdk/node_modules
