Port ${ssh_port}
PermitRootLogin no
PasswordAuthentication no
KbdInteractiveAuthentication no
ChallengeResponseAuthentication no
AllowUsers deploy
MaxAuthTries 3
LoginGraceTime 20s
PubkeyAuthentication yes
